body{
    background-image:linear-gradient(65.68deg, rgba(0, 8, 29, 0.6) 9.51%, rgba(53, 13, 49, 0.6) 72.89%, rgba(132, 5, 25, 0.6) 101.01%),linear-gradient(102.21deg, rgba(0, 0, 0, 0.04) 16.09%, rgba(1, 1, 1, 0.17) 39.27%, rgba(1, 1, 1, 0.24) 64.25%, rgba(4, 4, 4, 0.8) 96.63%),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/39f3c979-c105-4948-9c51-611eedf3a6fd/3fe7dd8a-3646-49d2-a2d6-8435dcdbecc8/TR-tr-20230612-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
}
.logo img{
    max-width: 150px;

}
.bt{
    border-top: 2px solid rgb(107, 81, 81);
}
.bb{
    border-bottom: 2px solid rgb(107, 81, 81);
}
.dropdown-menu{
    min-width: 7rem;
    border: none;
    border-radius: 0;
}
.dropdown-toggle::after{
    margin: 0 2px 0 13px;

}
.newBtn{
    padding: .15rem .45rem .15rem .45rem;
}
.newBtn p{
    display: inline;
}
.tr{
    text-align: center;
    color:white ;
    border-radius: 0;
    border: none;
}
.tr:hover{
    background-color:blue;
    color: white;
    font-weight: bold;
}
.mybtn{
    background-color: rgb(122, 117, 117);
    color: rgb(252, 251, 251);
    font-weight: 600;
}
.mybtn:hover{
    background-color: rgb(175, 150, 150);
    padding: .5rem;
}
.w-black li{
    list-style-type: upper-roman; 
}
.w-black a{
    color: rgb(170, 174, 209);
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}
.w-black a:hover{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: underline;
    transition: .6s;
    
}
strong{
    font-weight: 800;
    font-size: 1.2rem;
}
/**********************************/
/********  F O O T E R  ************/
.parent ul li{
    margin-top: 1rem;
}
.parent ul li a{
    color:gray;
    text-decoration: none;
}
.parent ul li a:hover{
    color:wheat;
    font-size: 1.1rem;
    text-decoration: underline;
}







@media only screen and (max-width: 600px) {
  .logo img{
    width: 100px;
  }
}

@media only screen and (max-width: 765px) {
  .parola{
    display: block;
  }
  .col-md-4{
    margin:.5rem 0 ;
  }
}